::-webkit-scrollbar{
    width: 0;
}

body{
    margin:0;
    font-family: Sans-serif;
    background-color:rgb(52, 58, 64);
}

.header-wrapper{
    background: rgb(65,200,131);
    box-shadow: 0 0 20px rgb(34, 37, 41);
    z-index: 100;
}

.header, .page{
    max-width: 1088px;
    margin: auto;
}

.header{
    padding: 10px;
    text-align: right;
}

.header-brand{
    position: fixed;
    margin: 10px 0;
    color: whitesmoke;
    font-weight: 500;
    font-size: 25px;
}

.header .collapse-button{
    position: relative;
    background: url('./images/menu.png');
    background-size: cover;
    border:none;
    height: 40px;
    width: 30px;
    margin: 5px auto;
    cursor: pointer;
    outline: none;
}

.navigation-item{
    margin: 15px 25px 15px 0px;
    color: rgb(200, 240, 219);
    text-decoration: none;
    font-weight: 400;
}

.navigation-item:hover{
    color: whitesmoke;
}

/* Page 入场动画 */
@keyframes toShow{
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0.5;
        transform: translate3d(0, 500px, 0);
    }
    
    50%{
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
    75% {
        transform: translate3d(0, 10px, 0);
    }
    100%{
        transform: translate3d(0, 0px, 0);
    }
}

.page{
    margin-top: 100px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(34, 37, 41);
    animation: toShow 0.7s ease-out;
}

.page-header{
    background-color:  rgb(65,200,131);
    background-image: url('./images/background.png');
    background-size: 800px;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: 200px;
}

.page-content{
    background-color: white;
}

.page-header, .page-content{
    max-width: 100%;
    padding: 40px;
}

.home .page-header{
    padding-bottom: 0px;
    white-space: nowrap;
}

.home .profile{
    height: 250px;
    width: 250px;
    border: solid white;
    box-shadow: 0 0 6px gray;
    margin-left: 40px;
    margin-right: 100px;
    transform: translate(0px, 6px);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.home .profile:hover{
    transform: translate(0px, 2px);
    transition: transform 0.2s ease-out;
}

.home .header-content{
    vertical-align: top;
    text-align: center;
    white-space: normal;
    margin-top: 30px;
}

.home .header-content p{
    margin: 0;
    padding: 30px 0px;
}

.home .header-content .name{
    color: white;
    font-size: 60px;
    font-weight: 550;
    padding-bottom: 15px;
}

.home .header-content .position{
    color: white;
    font-size: 20px;
    padding-top: 15px;
}

.home .page-content .summary{
    width:450px;
    text-align: justify;
    white-space: normal;
    vertical-align: text-bottom;
    margin-left: 30px;
}

.home .page-content .summary h2{
    font-size: 30px;
    margin-bottom:30px;
    margin-top: 0px;
}

.home .page-content .summary span{
    color: rgb(65,200,131);
}

.home .page-content .information{
    text-align: left;
    white-space: nowrap;
    overflow-x: scroll;
}

.home .page-content .information table{
    width: 350px;
    margin-left: 50px;
    line-height: 22px;
}

.home .page-content .information th{
    font-weight: 400;
}

.home .page-content .information td{
    color:rgb(152,152,152);
    font-weight: 350;
}

.home .page-content .information td a{
    text-decoration: none;
    color:rgb(65,200,131);
}

.home .page-content .information td a:hover{
    text-decoration: underline;
}

.resume .page-header, .contact .page-header{
    color: white;   
    text-align: center;
}

.resume .page-header h1, .contact .page-header h1{
    font-size: 50px;
    font-weight: normal;
}

.row{
    white-space: nowrap;
}

.row>div{
    min-height: 350px;
    width: 450px;
    margin: 10px 20px;
}

.resume h2{
    text-align: center;
}

.resume .summary ul{
    line-height: 30px;
    font-size: 14px;
    white-space: normal;
}

.resume .technical-skills{
    margin-left: 20px;
    vertical-align: top;
}

.resume .collapse-button{
    font-size: 20px;
    background: rgb(65,200,131);
    color: white;
    padding: 10px 0px;
    outline: none;
    border:none;
    border-bottom: solid 2px white;
    cursor: pointer;
}

.resume .collapse-button:hover{
    background: rgb(21, 127, 251)
}

.resume .collapse{
    padding: 0 30px;
}

.resume .collapse ul{
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.resume .collapse ul li{
    position: relative;
}

.resume .collapse ul progress{
    width: 200px;
    position: absolute;
    top: 5px;
    right:0;
}

.timeline{
    border-left: 4px solid rgb(224, 224, 224);
}

.timeline-item{
    position: relative;
    border-left: 2px solid rgb(57, 201, 129);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin: 10px 20px;
    padding: 10px 20px;
    white-space: normal;
}

.timeline-item::before{
    content:"";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid rgb(57, 201, 129);
    border-radius: 50%;
    left: -32px;
    top:20px;
}

.timeline-item::after{
    content:"";
    display: block;
    position: absolute;
    width: 16px;
    height: 0px;
    border: 1px solid rgb(57, 201, 129);
    left: -18px;
    top:27px;
}

.timeline-item p{
    margin: 0;
}

.timeline-item p:first-child{
    font-weight: bold;
    margin-bottom: 0;
}

.timeline-item p:nth-child(2){
    font-size: 12px;
    font-style: oblique;
    padding: 5px 0;
    color: gray;
}

.timeline-item p:last-child{
    font-size: 14px;
}

.contact .page-content{
    padding-bottom: 10px;
}

.contact form div{
    max-width: 400px;
}
.contact form input, .contact form textarea{
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    border-radius: 5px;
    margin: 5px 0;
    padding-left: 10px;
    border: 1px solid gray;
}

.contact form textarea{
    resize: vertical;
    min-height: 120px;
}

.contact form button{
    background: rgb(21, 127, 251);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
} 

.contact .information{
    vertical-align: top;
    overflow-x: scroll;
}

.contact .information p{
    width: 350px;
    margin: 25px auto;
}

.contact .information p *{
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.contact .information p span{
    font-size: 15px;
    font-weight: 300;
    padding-left: 30px;
}

.contact .information p *:not(span){
    color:rgb(57, 201, 129);
}

.contact .github{
    text-decoration: none;
    cursor: pointer;
}

.contact .github:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 1280px) {
    .header-wrapper{
      background-color: rgb(52, 58, 64);
    }

    .header-brand{
        color: rgb(65,200,131);
    }

    .navigation-item{
        color: gainsboro;
    }
}

@media only screen and (max-width: 992px){
    .home .page-content .information table{
        width: 450px;
    }
    .contact-form{
        max-width:350px;
    }
}

@media only screen and (max-width: 500px){
    .summary, .information, .technical-skills, .professional-experience, .education, .contact-form{
        max-width:350px;
    }
    progress{
        display: none;
    }
}

@media only screen and (max-width: 414px){
    .summary, .information, .technical-skills, .professional-experience, .education, .contact-form{
        max-width:300px;
    }
}

@media only screen and (max-width: 375px){
    .summary, .information, .technical-skills, .professional-experience, .education, .contact-form{
        max-width:275px;
    }
}

@media only screen and (max-width: 360px){
    .summary, .information, .technical-skills, .professional-experience, .education, .contact-form{
        max-width:250px;
    }
}





